@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{

    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}
header{
    width: 60%;
    height: 10%;
    background-color: #101010 ;
    margin: auto;
    margin-top: 1%;
    margin-bottom:0.5%;
}
section#menu-principal {
    display: flex;
    justify-content: space-between;
    margin: 1px 2px;
}
section#menu-principal>section {
    display: flex;
    flex-direction: column;
    align-items: end;
}
section#menu-principal article {
    margin-top: 10px;
}

.btn {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    font-weight: bold;
}
.btn-menu-principal > a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.btn-lk{
    color : white;
    display: flex;
    align-items: center;
    padding: 10px;
    border: solid;
    font-size: 1.2rem;
    margin-top: 20ex;
    margin: 200px 5px;
    background-color: transparent;
    
}
.btn-lk img{
  padding: 1vw;
  background-color: transparent;
  outline: none;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 20px;
  font-weight: bold;
}
.btn-borda{
    
        background-color: transparent;
        border: 2px solid transparent;
        padding: 10px;
        font-weight: bold;
        border: solid;
        color: white;
  
}
footer{
    background-color:#101010;
    margin-top: 100%;
    display: flex;
    justify-items: center;
    
  }
  footer img{
    width: 10%;
  }
  footer article{
    margin-left: 85%;
  }

#banner {
    height: 350px;
    background-image: url("../img//banner.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    }
h1{
        color: white;
        font-size: 50px;
        
}
h2 {
    color: white;
    font-size: 30px;
    font-family: Verdana;
    text-align: center;
}
h3 {
    color: white;
    font-size: 30px;
    text-align: center;
}

q {
    display: flex;
    text-align: justify;
    color: white;
    text-indent: 7%;
    margin-top: 5%;
}
p{
    color: white;
    

}
.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    width: 25%;
    height: 40%;
    
}

#laranja {
    background-color: rgb(218, 15, 15);
}
#azul{
    background-color: blue;
}

#amarelo{
    background-color: rgb(255, 166, 0);
}

#equipe {
   
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 10%;
}
#equipe img {
    width: 100px;
    border-radius: 50%;
    margin-top: 2%;
}
#negocio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 2%;
    width: 97%;
    height: 200px;
    background-color: #101010 ;
    
    margin-top: 2%;
    margin-bottom: 10%;
}
#negocio section{
    display: flex;
    justify-items: auto;
    align-items: center;
    flex-direction: column;
}
#negocio img{
        height: 200px;
        flex-direction: column;
        
}
#projetos{
    
    width: 100%;
    height: 10%;
    margin: auto;
}

.fotos{
    margin-top: 2%;
    margin-left: 30%;
    display: block;
    justify-content: space-around;
}
    
.fotos img{
    width: 20%;
}
#projetos button{
    margin-top: 10%;
    margin-left: 25%;
}